# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Editors
.idea
.vscode

# npm package lock
package-lock.json
package-lock.json

others
.DS_Store
test.js